# Dependencias
node_modules/

# Carpeta de distribución
dist/

# Archivos de entorno
.env
.env.local
.env.development
.env.production
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Caché de dependencias
.npm
.pnp/
.pnp.js

# Carpetas de construcción
build/
out/

# Archivos de backup
*.bak
*.backup

# Archivos de dependencias
package-lock.json
yarn.lock